.foo {
   background-color: rgb(209, 209, 209);
   border: 1px solid;
   margin: 20px;
   border-radius: 5px;
}
.foo:hover {
   background: rgb(192, 192, 192);
   border-radius: 5px;
}
.li {
   padding: 5px;
   transition: 0.5s all;
} 
.li:hover {
   color:khaki;
   background: rgb(167, 167, 167);
   border-radius: 3px;
   box-shadow: lightgreen;
}
.ul {
  list-style-type: none;               /*убрать маркеры*/
  justify-content:center;              /*Расположить по центру*/
  display: flex;                       /*Расположить все в одну строку*/
}
.w {
  border:solid;
  border-radius: 30px;
  text-shadow: 1px 1px 1px #4C69B2;  /*тень*/
  text-decoration: none;               /*урать подчеркивание*/
  margin: 0 5px ;                      /*отступ от краницы элемента*/
  padding: 0px 20px 0px 20px;          /*отступ от элемента до границы элемента*/
  color: #001a58;                    /*цвет текста*/
}